<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/src/home.css" />
    <link rel="icon" type="image/png" href="/public/images/logo.png" />
    <title>Precision Appraisal | About</title>
</head>
<body>

  <div class="container red topBotomBordersOut">
    <a href="/">HOME</a>
    <a href="/services">SERVICES</a>
    <a href="/contact">CONTACT</a>
    <a href="/about">ABOUT</a>
    <a href="free-appraisal-quote">QUOTES</a>
  </div>
  
    <h1>about our company</h1>  
</body>
</html>