<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/src/main.css" />
  </head>
  <body>
    <div class="page">
      <div class="main" id="main">
        <div class="header js-header">
          <div class="header__center center"><a class="header__logo" href="#"><img class="header__pic" src="img/logo.svg" alt=""></a>
            <div class="header__wrap js-header-wrap">
              <nav class="header__nav"><a class="header__link js-link" href="/">home</a><a class="header__link js-link" href="/services">services</a><a class="header__link js-link" href="/about">about</a><a class="header__link js-link" href="/contact">contact</a><a class="header__link js-link" href="/quotes">quotes</a></nav>
            </div><button class="header__burger js-header-burger"></button>
          </div>
          <div class="header__bg js-header-bg"></div>
        </div>
        <div class="main__center center">
          <div class="main__wrap">
            <h1 class="main__title" data-aos="animation-scale-x">Meet <br>Circular.</h1>
            <div class="main__info" data-aos="animation-scale-x" data-aos-delay="200">This is the agency of the future.</div>
            <div class="main__btns" data-aos="animation-scale-x" data-aos-delay="400"><button class="main__btn btn btn_primary">video presentation</button><button class="main__btn btn btn_secondary">learn more</button></div>
          </div>
        </div>
        <div class="main__circles">
          <div class="main__circle"></div>
          <div class="main__circle"></div>
          <div class="main__circle"></div>
          <div class="main__circle"></div>
          <div class="main__circle"></div>
        </div>
      </div>
      <div class="skills" id="skills">
        <div class="skills__head">
          <div class="skills__center center">
            <div class="skills__row">
              <div class="skills__col" data-aos="animation-scale-x">
                <h2 class="skills__title title">what makes us a special agency</h2><a class="skills__link" href="#">let’s discuss your ideas<svg class="icon icon-arrow-right">
                    <use xlink:href="img/sprite.svg#icon-arrow-right"></use>
                  </svg></a>
              </div>
              <div class="skills__col" data-aos="animation-scale-x" data-aos-delay="200">
                <div class="skills__info">This should be a short description of the subtitle. It shouldn’t be super long or else the content will be unbalanced.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="skills__body">
          <div class="skills__center center">
            <div class="skills__list js-owl" data-items-mobile-portrait="1" data-items-mobile-album="1" data-autoheight>
              <div class="skills__item">
                <div class="skills__details" data-aos="animation-scale-x">
                  <div class="skills__preview" data-aos>
                    <div class="skills__icon"><img class="skills__pic" src="img/icon-1.svg" alt=""></div>
                  </div>
                  <div class="skills__category">High quality</div>
                  <div class="skills__text">We’re not just a theme, the designs look stunning and unique.</div>
                </div>
              </div>
              <div class="skills__item">
                <div class="skills__details" data-aos="animation-scale-x" data-aos-delay="150">
                  <div class="skills__preview" data-aos>
                    <div class="skills__icon"><img class="skills__pic" src="img/icon-2.svg" alt=""></div>
                  </div>
                  <div class="skills__category">cool animations</div>
                  <div class="skills__text">We’ve included cool animations so we spice things up a bit.</div>
                </div>
              </div>
              <div class="skills__item">
                <div class="skills__details" data-aos="animation-scale-x" data-aos-delay="300">
                  <div class="skills__preview" data-aos>
                    <div class="skills__icon"><img class="skills__pic" src="img/icon-3.svg" alt=""></div>
                  </div>
                  <div class="skills__category">easy to change</div>
                  <div class="skills__text">The theme is highly customizable and can be addapted to everything.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>