<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- WHY ISNT THE FAV ICON WORKING -->
    <link rel="icon" type="image/png" href="/public/images/logo.png" />
    <title>Precision Appraisal Group</title>
  </head>
  <body>
    <nav id="navigationBar">
      <ul>
        <li id="email">
          <a href="mailto:precisionappraisalgroup@shaw.ca" class="link"
            >Email</a
          >
          <span class="tooltiptext">precisionappraisalgroup@shaw.ca</span>
        </li>
        <li id="phone">
          <a href="tel:+1-250-897-5046" class="link">Phone</a>
          <span class="tooltiptext">250-897-5046</span>
        </li>
        <li>
          <a href="/" class="link">PRECISION </a>
          <!-- BELOW 'appraisal group' -->
        </li>
        <li id="services">
          <a href="javascript:void(0)" class="link">Services</a>
          <span class="tooltiptext"
            ><a href="/services/residential">Residential</a></span
          >
          <span class="tooltiptext2"
            ><a href="/services/consulting">Consulting</a></span
          >
        </li>
        <li id="about">
          <a href="javascript:void(0)" class="link">About</a>
          <span class="tooltiptext"
            ><a href="/about/municipalities">Municipalities</a></span
          >
          <span class="tooltiptext2"><a href="/about/company">Company</a></span>
        </li>
      </ul>
    </nav>

    <div id="heroimage">
      <img id="hero" src="/public/images/hero.jpg" alt="" />
    </div>
    <div id="content">
      <h1>
        Trusted appraisals <br />
        since 2006(placeholder)
      </h1>
      <p>
        Precision appraisal group is a real estate appraisal <br />
        firm delivering quality property appraisal and consulting <br />
        services to the Mid to North Vancouver Island regions.
      </p>
    </div>

    <div class="flex-container">
     
    <a href="/services/residential">
        <div class="box">
          <h3>Residential</h3>
          <img class="img" src="/public/images/residential.png" alt="" /></div></a>
          
    <a href="/about/municipalities">
        <div class="box">
        <h3>Municipalities</h3>
        <img class="img" id="island" src="/public/images/island.png" alt="" />
      </div></a>
             
    <a href="/services/consulting">
        <div class="box">
        <h3 class="h3">Consulting</h3>
        <img class="img" src="/public/images/handshake.png" alt="" />
      </div></a>
    
    
    </div>
  </body>
</html>
