<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/src/home.css" />
    <link rel="icon" type="image/png" href="/public/images/logo.png" />
    <title>Precision Appraisal Group</title>
  </head>


  <div class="container red topBotomBordersOut">
    <a href="/">HOME</a>
    <a href="/services">SERVICES</a>
    <a href="/contact">CONTACT</a>
    <a href="/about">ABOUT</a>
    <a href="free-appraisal-quote">QUOTES</a>
  </div> 


  <a id="free-quotes" href="/free-appraisal-quote">Free Quotes</a>


  <h1>
    Trusted appraisals <br />
    since 2006(placeholder)
  </h1>
  <p>
    This & the h1 might look good positioned on a hero image? <br>  
    Precision appraisal group is a real estate appraisal <br />
    firm delivering quality property appraisal and consulting <br />
    services to the Mid to North Vancouver Island regions.
  </p>


  <body>
    <script src="/javascripts/home.js"></script>
  </body>
</html>
