<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image/png" href="/public/images/logo.png" />
    <title>Precision Appraisal | Residential</title>
</head>
<body>
  <nav id="navigationBar">
    <ul>
      <li id="email">
        <a href="/email-us" class="link">Email</a>
        <span class="tooltiptext">precisionappraisalgroup@shaw.ca</span>
      </li>

      <li id="phone">
        <a href="tel:+1-250-897-5046" class="link">Phone</a>
        <span class="tooltiptext">250-897-5046</span>
      </li>

      <li>
        <a href="/" class="link">PRECISION </a>
        <!-- BELOW 'appraisal group' might be a super easy logo to create? 
          just a nice font with the PRECISION ontop of APPRAISAL GROUP -->
      </li>
      <li id="services">
        <a href="javascript:void(0)" class="link">Services</a>
        <span class="tooltiptext">
          <a href="/services/residential">Residential Appraisals</a>
        </span>
      </li>

      <li id="about">
        <a href="javascript:void(0)" class="link">About</a>
        <span class="tooltiptext">
        <a href="/about/company">Our Company</a></span>
      </li>
      
    </ul>
  </nav> <br>



     <h2>Residential Properties</h2>  <br>

      Our team of professional appraisers perform real estate services for the following types of properties:
      <ul>
        <li>Single Family Homes</li>
        <li>Vacant Lots</li>
        <li>Mobile Homes</li>
        <li>Acreage Homes</li>
        <li>Apartments / Townhouse Units</li>

          
          
          
          
          
        </ul>
</body>
</html>