<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image/png" href="/public/images/logo.png" />
    <title>Precision Appraisal | Residential</title>
</head>
<body>
    <nav id="navigationBar">
        <ul>
          <li id="email">
            <a href="mailto:precisionappraisalgroup@shaw.ca" class="link"
              >Email</a
            >
            <span class="tooltiptext">precisionappraisalgroup@shaw.ca</span>
          </li>
          <li id="phone">
            <a href="tel:+1-250-897-5046" class="link">Phone</a>
            <span class="tooltiptext">250-897-5046</span>
          </li>
          <li>
            <a href="/" class="link">PRECISION </a>
            <!-- BELOW 'appraisal group' -->
          </li>
          <li id="services">
            <a href="javascript:void(0)" class="link">Services</a>
            <span class="tooltiptext"
              ><a href="/services/residential">Residential</a></span
            >
            <span class="tooltiptext2"
              ><a href="/services/consulting">Consulting</a></span
            >
          </li>
          <li id="about">
            <a href="javascript:void(0)" class="link">About</a>
            <span class="tooltiptext"
              ><a href="/about/municipalities">Municipalities</a></span
            >
            <span class="tooltiptext2"><a href="/about/company">Company</a></span>
          </li>
        </ul>
      </nav>
      residential services
</body>
</html>