<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/src/home.css" />
    <link rel="icon" type="image/png" href="/public/images/logo.png" />
    <title>Precision Appraisal | Services</title>
</head>
<body>
  
  <div class="container red topBotomBordersOut">
    <a href="/">HOME</a>
    <a href="/services">SERVICES</a>
    <a href="/contact">CONTACT</a>
    <a href="/about">ABOUT</a>
    <a href="free-appraisal-quote">QUOTES</a>
  </div>



     <h2>Residential Properties</h2>  <br>

      Our team of professional appraisers perform real estate services for the following types of properties:
      <ul>
        <li>Single Family Homes</li>
        <li>Vacant Lots</li>
        <li>Mobile Homes</li>
        <li>Acreage Homes</li>
        <li>Apartments / Townhouse Units</li> <br>

          
          <h2>Municipalities</h2>
          
          
          
        </ul>
</body>
</html>

