/* 
         
to use sass, write it in the 'stylesheets/src/scss' file and then link the 'stylesheets/dist/style.css'

i know its kinda fucked i have different files for my css but whatever

should we just include the email form on the home page @ the bottom? im just worried about too much white space 

we could display the erros under each invalid input like ive done on the 'quote inquiry' form, 
but i feel like it looks better in a list at the bottom on this one? up 2 u tho                        

when the spans shrink to 18% on hover and focus, the text floods out in mobile view

input for phone number should be 'type:tel', better for mobile users but itll be a bit of tinkering to get the css to act right

we dont even have to use the orange color, im suyre we can find something better

email form and quote form seem to be be like the slighest bit difference in size? or position? i think itd look good if
they were positioned in the same spot at the top? so if u go from one page to the other it doesnt feel like
the screen makesa a huge shift
*/

/*=============================================================* 
                       pretend NAV BAR
==============================================================*/
div.container {
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    padding: 1.5em;
    text-align: center;
  }
  
  div.container a {
    color: #fff;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    height: 100px;
  }
  
  .red {
    background: #313a3d;
  }
  
  /* Top and Bottom borders go out */
  div.topBotomBordersOut a:before,
  div.topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #fff;
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }
  
  div.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
  }
  
  div.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
  }
  
  div.topBotomBordersOut a:hover:before,
  div.topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
  }




 .error {
    color: #fd9638;

   
}

.sent {
    color: #fd9638;
    margin-top: -10px;
    margin-bottom: 30px;
   
}


html,
body {
  margin: 0px;
}






.other {
    color: #fd9638;
}


/*=============================================================* 
                          email form
==============================================================*/
#hire {
    margin-top: 30px;
}
h1 {
  color: #fd9638;
  margin-top: 15px;
}
body {
  background: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
}
body section {
   
  background: white;
  margin: 60px auto 120px;
  text-align: center;
  padding: 50px 0 10px;
  width: 80%;
  max-width: 1100px;

}

body section h1 {
  margin-bottom: 40px;
  font-size: 4em;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

/* this span (msg) was off  */
.ss-iconn {
  margin-left: 8.2px;
}
form {
  width: 58.33333%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  background: #313a3d;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  font-family: "Lato", sans-serif;
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 18.5px;
  left: 3.3%;                                  
  font-size: 1.45em;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

#phoner {
    margin-left: -1%;
}

form .field input[type="text"],
form .field textarea {
  border: none;
  background: #e8e9ea;
  width: 80.5%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #313a3d;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 27px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}


form .field input[type="text"]:focus,
form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}

form .field input[type="text"]:focus#msg,
form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  height: 90px;
  font-size: 15px;  
}

form .field input[type="text"]:focus + label,
form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 18%;
  height: 27px;
  background: #fd9638;
  color: #313a3d;
}

form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #fd9638;
}
form .field:hover label {
  width: 18%;
  background: #313a3d;
  color: white;
}
.button {
  background: #313a3d;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
.button:hover {
  background: #fd9638;
  color: white;
}
.button:focus {
  outline: none;
  background: #cd6302;
}
